.NavLink{
    text-decoration: none;
}
.Brand{
    color: black;
    font-size:22px;
    font-weight:bold;
    
}
.Shirt{
    color: rgb(149, 149, 149);
    font-size:20px;
    /* font-weight:100px; */
}
.Money{
    color: black;
    font-size:22px;
    font-weight:bold;
}
.MRP{
    color: rgb(110, 109, 109);
    font-size:20px;
    font-weight: lighter;
    text-decoration:line-through;
    margin: 0px 10px;
}
.Discount{
    color: darkorange;
    font-weight: 100px;
    font-size:19px;
}
.firstcard{
    background-color: whitesmoke;
}
.imagesize{
    width:280px;
    height: 300px;
}
.Link{
    position: relative;
    text-decoration: none;
    padding-left:20px;
    font-weight: bold;
    color: black;
}
.Link1{
    position: relative;
    margin-top:45px;
}